{% extends 'base.html.twig' %}

{% block title %}Cineland - Accueil{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid text-center bg-dark text-white">
        <div class="container">
            <h1 class="display-4">Bienvenue sur Cineland</h1>
            <p class="lead">Vous trouverez ici la liste des genres, films et acteurs proposés par notre cinéma.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="{{ path('genre_joues_acteur') }}">
                            <h5 class="card-title">Voir les genres joués par les acteurs</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-5">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="{{ path('film_joues_acteur') }}">
                            <h5 class="card-title">Voir les films joués par les acteurs</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
